html
  head
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    title My Site - #{title}
    block scripts
      script(src='/jquery.js')
    block style 
      style
        include ../static/style3.css
  body
    block content
    div.first 
        #nav
            ul
               li #[a(href="/about.pug") ABOUT] 
    .one 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi illum, blanditiis quos nihil nam minus velit sapiente explicabo incidunt saepe cum repellat ullam perspiciatis ut adipisci! Molestiae inventore quibusdam explicabo dicta doloremque consequatur laudantium exercitationem ipsum sint voluptatum ipsa numquam repellat corporis sunt similique impedit, laborum amet magni aliquam. Quas rem distinctio voluptatibus error dicta commodi id, nostrum corporis eius dolorum. Nostrum maiores dolore maxime debitis cumque repudiandae fugiat vel ad accusantium. Soluta aperiam ducimus fugit? Sed suscipit earum possimus mollitia velit iste atque adipisci neque fuga, nulla architecto provident ad tempore vel! Accusamus saepe ipsa doloremque obcaecati repellat odio!
      hr
    .one1 
      img(src="/static/img/7.png", alt="")
    .one11
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos exercitationem aspernatur expedita adipisci maxime ipsum dolor laboriosam! Voluptas enim eveniet incidunt, officiis velit eligendi aliquid impedit libero laboriosam quas voluptatibus nihil earum ad sunt dolorem, non nulla fugit? Voluptatibus aperiam accusamus sapiente quisquam ex doloremque consequatur maxime doloribus ipsum deleniti! ipsum dolor sit amet consectetur adipisicing elit. Minus, veritatis mollitia sit et qui quis voluptate eum ipsa nemo perspiciatis, atque repellat! Omnis provident quaerat minus amet voluptatum excepturi sed ut dicta recusandae voluptate eos dignissimos corrupti qui repudiandae iure quas expedita praesentium et saepe enim, id nesciunt quasi eligendi in. Veritatis sapiente nihil voluptatum autem expedita facilis? Inventore distinctio aspernatur quam assumenda iure vero accusantium eum eius deleniti perferendis iste perspiciatis neque blanditiis repudiandae velit debitis molestias nostrum ab, similique vel! Eum assumenda dolorem tenetur quidem amet impedit, necessitatibus soluta ex, neque, alias aperiam sint temporibus. Similique, illum impedit?
      hr    
    .one2
      img(src="/static/img/8.png", alt="")
    .one22
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores harum nihil incidunt inventore voluptate suscipit sunt at eum ad assumenda rerum, expedita minus deserunt! Quibusdam provident doloremque laboriosam consectetur ad. ipsum dolor sit amet consectetur adipisicing elit. Minus, veritatis mollitia sit et qui quis voluptate eum ipsa nemo perspiciatis, atque repellat! Omnis provident quaerat minus amet voluptatum excepturi sed ut dicta recusandae voluptate eos dignissimos corrupti qui repudiandae iure quas expedita praesentium et saepe enim, id nesciunt quasi eligendi in. Veritatis sapiente nihil voluptatum autem expedita facilis? Inventore distinctio aspernatur quam assumenda iure vero accusantium eum eius deleniti perferendis iste perspiciatis neque blanditiis repudiandae velit debitis molestias nostrum ab, similique vel! Eum assumenda dolorem tenetur quidem amet impedit, necessitatibus soluta ex, neque, alias aperiam sint temporibus. Similique, illum impedit?
