html
  head
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    title My Site - #{title}
    block style 
      style
        include ../static/style.css
        include ../static/stylem.css
  body
    block content
    .contain 
      .contvid
        .nav
          
          ul 
              li #[a(href="/") HOME] 
              li #[a(href="/about.pug") ABOUT]
              li #[a(href="/singup.pug") SING UP] 
              li #[a(href="/") CONTACT US]
          .one 
            .one1 
              p INFOTECH
        .conthold
            video(src="/static/video/2.mov",autoplay loop muted)
            hr   
    .two 
      .two1 
        img(src="/static/img/1.png", alt="")
      .two2 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit veniam sit, amet, in reiciendis earum exercitationem iusto ea odit ad doloremque officiis nihil id magni. Ad commodi perferendis alias hic pariatur reiciendis temporibus,<span> quis nisi minima quaerat, maxime magnam explicabo nulla debitis corporis nesciunt cupiditate! Ratione necessitatibus sapiente architecto amet cum eligendi? Sint optio doloribus, id eveniet ea consequatur odio hic eius amet? Suscipit, doloribus! Excepturi consectetur quasi esse ipsum perspiciatis, libero, recusandae, aliquid quam sunt impedit architecto! Dignissimos porro quia fugiat. Cumque accusantium animi impedit quod sed similique nam accusamus obcaecati sit, labore eveniet sunt consequatur sint. Error nisi </span>unde consequuntur provident quos magnam quasi sunt ipsum vero repellat, optio accusantium temporibus facere, in dolores ab quo dicta pariatur.
        hr
    .three 
      .three1 
        h3 STOCK
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet inventore consectetur aperiam asperiores possimus blanditiis doloremque. Quos illo id est omnis voluptates animi aspernatur perspiciatis voluptas, minima minus at illum, sequi repellat incidunt dolorum velit sit laboriosam architecto quaerat similique molestias qui inventore nesciunt ipsum. Optio alias ipsam repellat sapiente tempore esse, accusantium doloremque cupiditate labore quod reprehenderit veniam eius nemo, suscipit aliquid similique impedit maxime hic qui cum. Dolores expedita reiciendis voluptatibus! Distinctio incidunt ipsa non dolores cumque illo vel delectus cum quos nulla nesciunt earum iure, similique soluta tenetur, culpa fuga animi perferendis! Nemo, modi veritatis! Ea, aut?
      .three2
        h3 DATA
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, exercitationem? Repellat voluptatem impedit exercitationem, ullam architecto provident maxime expedita porro eligendi quia enim atque vel accusantium obcaecati voluptates eveniet dicta deserunt tenetur possimus dolores quisquam perspiciatis voluptas illo! Rerum repudiandae iure consequatur, rem id nobis maiores atque, architecto, cupiditate soluta veniam eum possimus iusto necessitatibus quas corrupti iste eveniet magnam non quasi dicta sit perferendis? Quaerat consequuntur doloremque, ad perspiciatis esse totam accusantium qui iure odit adipisci ducimus sapiente exercitationem ut harum, quae labore voluptatum dolor maxime voluptatibus voluptates, asperiores amet deleniti. Officiis impedit quidem ab porro praesentium assumenda consequatur?
      .three3 
        h3 ANALIYSIS
        p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis quam, necessitatibus totam repudiandae reiciendis sint voluptatum. Sapiente minima animi adipisci maxime, sit consectetur officia, culpa facere illum magni nulla eos obcaecati doloribus vitae? Itaque excepturi veritatis et deleniti velit, necessitatibus aliquam nemo, nostrum voluptatem id eum minus facere! Blanditiis sint soluta quod repudiandae voluptas totam ratione qui voluptate impedit obcaecati! Dicta id vel quasi quaerat totam perspiciatis eum, recusandae omnis repudiandae optio esse nihil deleniti ratione modi mollitia. Accusamus nihil assumenda perspiciatis voluptatibus suscipit aliquam ex, optio quae asperiores hic autem debitis magni? Ipsum maxime provident officiis. Eveniet, quis suscipit.
    .eight 
     
         ul
            li #[a(href="/next.pug") NEXT  PAGE]