html
  head
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    title My Site - #{title}
    block scripts
      script(src='/jquery.js')
    block style 
      style
        include ../static/style4.css
  body
    block content
      div.first 
        #nav
            ul
                li #[a(href="/next.pug") STOCK]
                hr
      .one 
            img(src="/static/img/6.jpg", alt="")
      .second 
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsa atque ad fuga voluptatum corrupti voluptates ratione, iure eius,dolor dolorem rem, magnam officia eos tenetur natus dolore<span> repellendus in excepturi inventore nulla dicta exercitationem nobis? Asperiores unde repellat illo cumque laborum ab. Expedita, maxime voluptatem rerum libero odio eum facere eius voluptas omnis! Illo ea, iure, temporibus ducimus esse in sunt eum quia non, quos fugit qui quas corporis repellat saepe. Ad error ex velit neque iusto a in earum rerum libero ab aperiam minus commodi,</span> amet quos omnis voluptates odio? Sequi, at voluptas expedita voluptatem sunt quidem libero dolorem provident quaerat odit! Harum illum id excepturi corrupti, libero, architecto voluptates perspiciatis dolores hic perferendis blanditiis facere sed distinctio! Officiis iste magnam tenetur impedit provident eligendi alias modi sint adipisci at molestias temporibus voluptatum voluptatibus vero placeat dolore, repellat voluptate mollitia. Odio illo placeat explicabo dolor autem esse veritatis.
               hr
      .one2 
            img(src="/static/img/5.jpg", alt="")
      .second2
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsa atque ad fuga voluptatum corrupti voluptates ratione, iure eius,dolor dolorem rem, magnam officia eos tenetur natus dolore<span> repellendus in excepturi inventore nulla dicta exercitationem nobis? Asperiores unde repellat illo cumque laborum ab. Expedita, maxime voluptatem rerum libero odio eum facere eius voluptas omnis! Illo ea, iure, temporibus ducimus esse in sunt eum quia non, quos fugit qui quas corporis repellat saepe. Ad error ex velit neque iusto a in earum rerum libero ab aperiam minus commodi,</span> amet quos omnis voluptates odio? Sequi, at voluptas expedita voluptatem sunt quidem libero dolorem provident quaerat odit! Harum illum id excepturi corrupti, libero, architecto voluptates perspiciatis dolores hic perferendis blanditiis facere sed distinctio! Officiis iste magnam tenetur impedit provident eligendi alias modi sint adipisci at molestias temporibus voluptatum voluptatibus vero placeat dolore, repellat voluptate mollitia. Odio illo placeat explicabo dolor autem esse veritatis.
               hr
      .one3
            img(src="/static/img/4.jpg", alt="")
      .second3
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsa atque ad fuga voluptatum corrupti voluptates ratione, iure eius,dolor dolorem rem, magnam officia eos tenetur natus dolore<span> repellendus in excepturi inventore nulla dicta exercitationem nobis? Asperiores unde repellat illo cumque laborum ab. Expedita, maxime voluptatem rerum libero odio eum facere eius voluptas omnis! Illo ea, iure, temporibus ducimus esse in sunt eum quia non, quos fugit qui quas corporis repellat saepe. Ad error ex velit neque iusto a in earum rerum libero ab aperiam minus commodi,</span> amet quos omnis voluptates odio? Sequi, at voluptas expedita voluptatem sunt quidem libero dolorem provident quaerat odit! Harum illum id excepturi corrupti, libero, architecto voluptates perspiciatis dolores hic perferendis blanditiis facere sed distinctio! Officiis iste magnam tenetur impedit provident eligendi alias modi sint adipisci at molestias temporibus voluptatum voluptatibus vero placeat dolore, repellat voluptate mollitia. Odio illo placeat explicabo dolor autem esse veritatis.
               hr